footer
    .container 
        .footer-left
            img(src="img/logo.svg", alt="") 
            ul
                li Фабрика GG. 2022
                li © Все права защищены
        .footer-center 
            ul 
                li 8 (800) 300-12-50
                li м. Полежаевская
                li 123154, г. Москва, пр-т. Маршала Жукова, д. <br> 52, "Мебельный Центр"
                li support@sofiadoors.com
        .footer-right 
            ul 
                li Рыба
                li Выпечка
                li Овощи
                li Ягоды
                li Пельмени