header
    .cont
        .text
            img(src="img/logo.svg", alt="")
            ul
                li
                    a Дилерам
                li
                    a Информация
                li
                    a zam@prod.com
                li 
                    a 8 (800) 300-12-50
            img.burger(src="img/kdlfcgbmzdc.png", alt="burger")