doctype html
html(lang="ru")
    head 
        title = Главная страница
        link(rel="stylesheet", href="styles/style2.css") 
    body
        include modules/header
        
        .cont
            .text__cooperation
                h1 Приглашаем к сотрудничеству
                p Наша компания заинтересована в налаживании долговременных взаимовыгодных связей с производителями и поставщиками продовольственной продукции. С нашим ассортиментом вы можете ознакомиться на главной странице, также мы открыты для новых интересных предложений. Мы заслужили репутацию надежного партнера.
        .cont
            .text__offers 
                h1 Что мы можем вам предложить?
                h3 Оптовые поставки замороженной продукции по всей России
                ul 
                    li В отношения с партнёрами мы следуем честным и прозрачным принципам, гарантируем стабильные своевременные поставки, надёжность и порядочность в решении вопросов
                h3 Условия поставки
                ul 
                    li Специализированный парк автомобилей различной грузоподъёмности. Отгрузка 24/7 собственного низкотемпературного склада в Московской области
                h3 Быстрая доставка
                ul 
                    li Гарантируем быструю доставку по всей России - от мелкого опта до контейнеров
        .cont
            .contract
                h1 Типовой договор
                img(src="img/contract_img.png", alt="")
    include modules/footer
    